<h2>マイページ</h2>
<h3>個人情報</h3>
<p>※代行依頼時にはこちらの個人情報が代行会社へ通知されます</p>
<%= link_to '個人情報の変更', edit_user_registration_path(@user) %>
<table>
  <tbody>
    <tr>
      <td>お名前</td>
      <td><%= @user.last_name %><%= @user.first_name %></td>
    </tr>
    <tr>
      <td>お名前(カナ)</td>
      <td><%= @user.last_name_kana %><%= @user.first_name_kana %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= @user.phone_number %></td>
    </tr>
  </tbody>
</table>